.HeaderMainDiv{
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.HeaderMainDiv p{
    font-size: 28px;
}

.left-div{
    margin-left: 20px;
}

.rigth-div{
    margin-right: 20px;
}